name: Upload Python Package

on:
  release:
    types: [created]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'
    - name: Build
      run: |
        python -m pip install --upgrade pip build twine
        python -m build
    - name: Test wheels
      run: |
        python -m twine check dist/*
    - name: Publish
      uses: pypa/gh-action-pypi-publish@v1.8.10
      with:
        user: ${{ secrets.PYPI_USERNAME }}
        password: ${{ secrets.PYPI_PASSWORD }}
